*{
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
  }
  *:before,
  *:after {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
  }
  
  html,
  body,
  div,
  span,
  applet,
  object,
  iframe,
  h1,
  h2,
  h3,
  h4,
  h5,
  h6,
  p,
  blockquote,
  pre,
  a,
  abbr,
  acronym,
  address,
  big,
  cite,
  code,
  del,
  dfn,
  em,
  font,
  ins,
  kbd,
  q,
  s,
  samp,
  small,
  strike,
  strong,
  sub,
  sup,
  tt,
  var,
  dl,
  dt,
  dd,
  ol,
  ul,
  li,
  fieldset,
  form,
  label,
  legend,
  table,
  caption,
  tbody,
  tfoot,
  thead,
  tr,
  th,
  td {
    /* position: relative; */
    border: 0;
    font-family: inherit;
    font-size: 100%;
    font-style: inherit;
    font-weight: inherit;
    margin: 0;
    outline: 0;
    padding: 0;
    vertical-align: baseline;
    scroll-behavior: smooth;
    scroll-padding-top: 10rem;
    list-style: none;
  }
  
  html {
    font-size: 62.5%;
    height: 100%;
  }
  
  body {
    color: #2b2b2b;
    font-family: "Poppins", sans-serif;
    font-size: 1.6rem;
    overflow-x: hidden;
    line-height: 1.4;
  }
  
  table {
    border-collapse: collapse;
    border-spacing: 0;
  }
  
  article,
  aside,
  footer,
  header,
  nav,
  section,
  time {
    display: block;
  }
  
  a {
    text-decoration: none;
  }
  img {
    max-width: 100%;
  }

  /* GRID */
  .container{
    max-width: 120rem;
    margin: 0 auto;
    padding: 1.5rem;
  }

  /* header */
  .header{
    box-shadow: 0px 1px 5px 1px black;
    background: #2b2b2b;
    position: fixed;
    width: 100%;
  }
  .header .branding h3{
    color: #ffffff;
    font-size: 2.5rem;
    font-weight: 600;
  }
  .header .branding h3 span{
    color: #ffa700;
  }
  .header .branding{
    display: flex;
    align-items: center;
    gap: 2rem;
  }
  .header .header__nav ul li a{
    color: #ffffff;
    font-size: 1.8rem;
  }
  .header .header__nav ul{
    display: flex;
    align-items: center;
    gap: 2.5rem;
  }
  .header .header__nav ul li:hover a{
    color: #ffa700;
  }
  .header .header__nav ul li:hover {
    scale: 1.1;
    transition: .5s ease;
  }
  .header .header__wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  .header .toggle__menu{
    display: none;
  }
  .header .toggle__menu span{
    width: 3rem;
    height: 0.3rem;
    border-radius: 5rem;
    background-color: #ffa700;
    display: block;
    transition: 0.5s ease;
  }
   .toggle__menu span:nth-child(2){
    margin:.5rem 0;
  }
  .header .toggle__menu.open span:first-child{
    transform: translateY(10px) rotate(225deg);
    transition:0.5s ease;
  }
  .header .toggle__menu.open span:nth-child(2){
    opacity: 0;
  }
  .header .toggle__menu.open span:last-child{
    transform: translateY(-7px) rotate(-225deg);
    transition: 0.5s ease;
  }
  .header .header__nav.open{
    right: 0rem;
    transition: 0.5s ease;
  }
  /* header mobile view */
  @media screen and (max-width:500px){
  .header .header__nav{
    background: #2b2b2b;
    position: absolute;
    right: -100rem;
    top: 8rem;
    width: 100%;
    height: 100vh;
    padding-top: 10rem;
    transition: 0.5s ease;
  }
  .header .header__nav ul{
    display: flex;
    flex-direction: column;
  }
  .header .branding img{
    width: 5rem;
  }
  .header .toggle__menu{
    display: block;
  }
  }

  /* banner */
.banner{
  padding-top: 13rem;
  padding-bottom: 5rem;
  background: #ffffff;
}
.banner .banner__wrapper{
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: center;
  gap: 5rem;
}
.banner .banner__text h1 {
  font-size: 10rem;
  font-weight: 800;
  color: #ffa700;
  line-height: 1;
}
.banner .banner__text p{
  margin-top: 5rem;
  margin-bottom: 3rem;
  text-align: justify;
}
@media screen and (max-width:500px){
  .banner {
    padding-left: 2rem;
    padding-right: 2rem;
  }
  .banner .banner__wrapper {
    display: grid;
    grid-template-columns: 1fr;
  }
  .banner .banner__text{
    order: 2;
  }
  .banner .banner__text h1{
    font-size: 3rem;
    text-align: center;
  }
  .banner .banner__text a{
    display: flex;
    width: fit-content;
    margin: 0 auto;
  }
  .banner img {
    width: 20rem;
    margin: 0 auto;
  }
}

/* srvc/ section 2*/
.srvc{
  background: #2b2b2b;
  padding: 5rem 0;
}
.srvc .srvc__wrapper{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 8rem;
}
.srvc .srvc__card{
  text-align: center;
}
.srvc .srvc__card i{
  color: #ffa700;
  font-size: 5rem;
}
.srvc .srvc__card h4{
  color: #ffa700;
  font-size: 1.8rem;
  font-weight: 600;
  margin: 2rem 0;
}
.srvc .srvc__card p{
  color: #ffffff;
  margin-bottom: 5rem;
  text-align: justify;
}

@media screen and (max-width:500px){
  .srvc .srvc__wrapper {
    display: grid;
    grid-template-columns: 1fr;
    margin: 0 2rem;
    gap: 15rem
  }
}

/* LATEST/ */
.latest {
  background: #2b2b2b;
  padding: 5rem 0;
}
.latest .latest__wrapper {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 5rem;
}
.latest .latest__title h2{
  color: #ffa700;
  font-size: 5rem;
  font-weight: 600;
}
.latest .latest__title p{
  color: #ffffff;
  font-size: 2.5rem;
}
.latest .latest__title {
  margin-bottom: 8rem;
}
.latest .latest__card {
  background: #ffffff;
  border-radius: 2rem;
}
.latest .latest__text {
  padding: 1.5rem 2rem;
}
.latest .latest__text h4{
  color: #ffa700;
  font-weight: 600;
}
.latest .latest__text p{
  margin-top: 2rem;
  margin-bottom: 4rem;
}
.latest .latest__text a{
  color: #ffa700;   
}
/* mobile/ */
@media screen and (max-width:500px){
  .latest .latest__title {
    text-align: center;
  }
  .latest .latest__title h2 {
    font-size: 4rem;
  }
  .latest .latest__wrapper{
    display: grid;
    grid-template-columns: 1fr;
  }
.latest .latest__card {
  margin: 0 2rem;
}
.latest .latest__card img {
  width: 100%;
}
}

 

/* fre/ */
.free {
  background: #ffa700;
  padding: 5rem ;
}
.free .free__wrapper {
  display: grid;
  grid-template-columns: 1fr  ;
  gap: 1rem;
  text-align: center;
}
.free .free__title h3{
  color: #ffa700;
  font-size: 5rem;
  font-weight: 600;
  text-align: center
}
.free .free__wrapper h3{
  color: #2b2b2b;
  font-size: 3rem;
}
.free .free__title {
  margin-bottom: 8rem;
}
.free .free__text {
  padding: 1.5rem 2rem;
}
.free .free__text p{
  font-size: 2rem;
  margin-bottom: 4rem;
}
.free .free__wrapper a{
  text-align: center;
  max-width: 200px;
  padding: 1rem;
  border: #2b2b2b;
  border-radius: 2rem;
  background-color: black;
  color: #ffffff;
  margin: 0 auto;
}
.free .free__wrapper:hover a{
  scale: 1.1;
}

/* footer/ */
.footer {
  background: #2b2b2b;
  width: 100%;
  padding: 2rem 0;
}

.footer .footer__wrapper {
  display: flex;
  justify-content: space-between;
}

.footer .footer__social {
  display: flex;
  flex-direction: row;
  padding: 2.5rem;
  gap: 5rem;
}

.footer .footer__wrapper ul li a {
  color: dimgray;
  font-size: 2.5rem;
}

.footer .footer__wrapper ul {
  display: flex;
  gap: 1.25rem;
}

.footer p {
  color: dimgray;
  display: flex;
  align-items: center;
  justify-content: center;  
  text-align: center;       
  line-height: 1.5;         
  margin: 0 auto;           
  max-width: 90%;           
}

/* Mobile view */
@media screen and (max-width: 500px) {
  .footer .footer__wrapper {
    display: grid;
    grid-template-columns: 1fr;
    padding-left: 2rem;
    padding-right: 2rem;
    line-height: 2;
  }

  .footer .footer__social {
    display: grid;
    grid-template-columns: 1fr;
    padding-left: 0rem;
    margin-bottom: 0rem;
    margin: 0 auto;
    justify-items: center;
  }

  .footer p {
    padding-bottom: 20px;
    margin: 0 auto;
    max-width: 100%;        
  }
}





@media screen and (max-width:500px){
  .free{
    background: #ffa700;
   }
    .free .free__wrapper{
      text-align: center;
    }
    .free .free__wrapper h3{
      font: 500;
      font-weight: 700;
      font-size: 2rem;
    }
    .free .free__wrapper p{
      font: 100;
      font-weight: 100;
      margin-bottom: 2rem;
    }
    .free .free__wrapper a{
      padding: 1.5rem ;
      border: #2b2b2b;
      border-radius: 10rem;
      background-color: black;
      color: #ffffff
  }
}
  /* about 2/ */
.about{
  padding-top: 15rem;
  padding-bottom: 5rem;
  background: #ffffff;
}
.about .about__wrapper{
  display: grid;
  grid-template-columns: 1fr 1fr; 
  align-items: center;
  gap: 5rem;
}
.about .about__text h1{
  font-size: 8rem;
  padding-bottom: 2rem;
  font-weight: 600;
  color: #ffa700;
}
.about .about__text p{
   margin-top: 1rem;
  text-align: justify;
  font-family: 'inter', sans-serif;
}
.about .about__wrapper > :nth-child(1) {
  order: 2;
}
.about .about__wrapper > :nth-child(2) {
  order: 1;
}
.about .about__wrapper ul {
    display: flex;
    gap: 1.25rem;
    padding:2rem;
    padding-left: 0rem;
}
.about .about__wrapper ul li a {
    color: #ffa700;
    font-size: 2.5rem;
} 
.angle {
  color: #ffa700;
  padding-left: 50%;
  font-size:3rem;
}
 


/* about2/ */
@media screen and (max-width: 500px){
  .about{
    padding-left: 2rem;
    padding-right: 2rem;
  }
.about .about__wrapper{
  display: grid;
  grid-template-columns: 1fr;
  
}
.about .about__text{
  order: 2;

}
.about .about__text h1{
  font-size: 6rem;
  text-align: center;
}
.about .about__text .p1{
  text-align: center;
}

.about img {
  width: 20rem;
  margin: 0 auto;
}
.about .about__text .about__links{
  justify-items: center;}
}
 

 

/* projects/ */
.project {
  background: #2b2b2b;
  padding: 5rem 0;
}
.project  .project__wrapper{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 5rem;
}
.project .project__title h2{
  color: #ffa700;
  font-size: 5rem;
  font-weight: 600;
}
.project .project__title p{
  color: #ffffff;
  font-size: 2.5rem;
}
.project .project__title{
  margin-bottom: 8rem;
}
.project .project__card{
  background: #ffffff;
  border-radius: 2rem;
}
.project .project__text{
  padding: 1.5rem 2rem;
}
.project .project__text h4{
  color: #ffa700;
  font-weight: 600;
}
.project .project__text p{
  margin-top: 2rem;
  margin-bottom: 4rem;
}
.project .project__text a{
  color: #ffa700;
}


/* recent MOBILE View */
@media screen and (max-width:500px) {
  .project .project__title{
    text-align: center;
  }
  .project .project__title h2{
    display: grid;
    grid-template-columns: 1fr;
  }
  .project .project__wrapper {
    display: grid;
    grid-template-columns: 1fr;
  }
  .project .project__card{
    margin: 0 2rem;
  }
  .project .project__card img{
    width: 100%;
  }
}


/* repeatable patterns */
.backToTop {
  position: fixed;
  z-index: 999;
  bottom: 5rem;
  right: 5rem;
  display: none;
}
.backToTop.open {
  display: block;
}
.backToTop a {
  background: #ffa700;
  padding: 1rem;
  border-radius: 5rem;
  color: #2b2b2b;
}
.btn{
  display: inline-block;
  padding: 1.5rem 2rem;
  border-radius: 5rem;
  color: #ffffff;
}
.btn:hover {
  scale: 1.1;
}
.btn.bg--primary {
background: #ffa700;
}

 /* About/ section 3*/ 
 .about{
  padding-top: 10rem;
  padding-bottom: 5rem;
  background: #ffffff;
 }
 .about .about__wrapper {
  display: flex;
  flex-direction: row-reverse;
  align-items: center;
  gap: 5rem;
 }
 .about .about__text h3{
  font-size: 3rem;
  font-weight: 800;
  color: #ffa700;
  line-height: 5;
 }
 .about .about__text p{
  margin-bottom: 3rem;
  text-align: justify;
 }

 /* Mobileview */
@media screen and (max-width:500px){
  .about{
    padding-left: 2rem;
    padding-right: 2rem;
  }
  .about .about__wrapper {
    display: grid;
    grid-template-columns: 1fr;
  }
  .about .about__text {
    order: 2;
  }
  .about .about__text h3 {
    font-size: 3rem;
    text-align: center;
  }
  .about .about__text a {
    display: flex;
    width: fit-content;
    margin: 0% auto;
  }
  .about img {
    width:20rem;
    margin: 0 auto;
  }
}
 
 /* SERVICES */
.services {
  padding-top: 3rem;
  /* padding-bottom: 5rem; */
  background: white;
}
.services .fa-solid {
  display: grid;
  justify-items: center;
  color: #ffa700;
  font-size: 3rem;
  padding-bottom: 3rem;
}
.services__content{
  padding: 5rem 0;
}
.services__content:nth-child(even) {
  background: #2b2b2b;
}
.services__content:nth-child(even) .development__text {
  order: 2;
}
.services__content:nth-child(even) p, 
.services__content:nth-child(even) h6 {
  color: white;
}

/* DEVELOPMENT */
.services .development__wrapper {
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: center;
  gap: 5rem;
  max-width: 117rem;
  margin: 0 auto;
}
.services .development__text h2 {
  color: #ffa700;
  font-size: 5rem;
  font-weight: 600;
}
.services .development__text p {
  margin-top: 3rem;
  text-align: justify;
}
.services .development__text h3 {
  font-size: 3rem;
  color: #ffa700;
  font-weight: 530;
}
.services .development__text h6 {
  font-size: 1rem;
}
.services .development__wrapper img {
  padding-top: 10rem;
}
/* Hide last chevron */
.services .services__content:last-child a {
display: none;
}

@media screen and (max-width:500px) {
  .services__content {
    padding-left: 2rem;
    padding-right: 2rem;
  }
  .services__content .development__wrapper {
    display: grid;
    grid-template-columns: 1fr;
  }
  .services__content .development__text {
    order: 2;
  }
  .services__content h2 {
    font-size: 4rem;
    text-align: center;
  }
  .services__content p, .services__content {
    text-align: center;
  }
  .services__content h3 {
    font-size: 2.5rem;
  }
  .services__content img {
    width: 20rem;
    margin: 0 auto;
  }
}

/* updates/ */
.update .trend__post{
  border-bottom: 1px solid #2b2b2b;
} 
.update .trend__post:not(:first-child){
  padding: 3rem 0;
}
.update .trend__post:last-child{
  border-bottom: none;
}
.update .update__item{
  border-bottom: 1px solid #2b2b2b;
}
.update .update__item:not(:first-child){
  padding: 3rem 0;
}
.update .update__item:last-child{
  border-bottom: none;
}
.update .update__item h4{
  color: #ffa700;
  font-size:2rem;
  font-weight: 600;
  margin-bottom: 3rem;
}
 
.update .update__item table{
  width:100%;
}
.update .update__item table tr{
  height:6rem;
}
.update .update__item .update__item__content{
  display:flex;
  gap: 2rem;
  margin-bottom: 2rem;
}
.update .update__item ul{
  display: flex;
  max-width: 40rem;
  flex-wrap: wrap;
  gap: 2rem;
  padding: 1rem;
}
.update .update__item ul li a{
  display: inline-block;
  border:1px solid #2b2b2b;
  padding: 1rem 2rem;
  border-radius: 5rem;
  color: black;
}
.update .container {
   display: grid;
   grid-template-columns: 2.5fr 1.5fr;
   grid-gap:5rem;
  }
   

   

/* ### Trends Section ### */
.trend__wrapper {
    padding-top: 13rem;
}

.intro {
    color: #ffa700;
    font-size: 5rem;
    font-weight: 600;
}

.parabola {
    padding-bottom: 2rem;
}

/* ### Trend Post Content ### */
.trend__post ul {
    display: flex;            
    gap: 15px;                
    list-style: none;         
    padding: 0;               
    margin: 0;                
}

.trend__post ul li {
    display: flex;            
    align-items: center;     
    padding-bottom: 1rem; 
}

.trend__post ul li a {
    text-decoration: none;    
    color: #333;             
}

.trend__post h2 {
    color: #ffa700;
    font-weight: 600;
    font-size: 2rem;
    padding-bottom: 4rem;
}

.trend__post p {
    max-width: 719px;
}

/* ### Separator Line ### */
.separator {
    border: 0;
    border-top: 3px solid #ccc; 
    margin: 20px 0; 
    max-width: 719px;
}

/* ### Sidebar Section ### */
.sidepannel {
    flex: 1;  
    padding-top: 32rem;
}


/* ### Trend Post Layout ### */
.trend__post {
    margin-bottom: 30px;
}

.trend__post a {
    color: #ffa700;
}

.trend__post p {
    padding-bottom: 3rem;
}

.trend__post img {
    padding-top: 5rem;
    padding-bottom: 1rem;
}



.update .update__item ul li a:hover {
    background-color: #2b2b2b; 
    color: white; 
}

.update .update__item__content h5{
  padding-bottom: 3rem;
}
 



/* SARAP MO LAST PAGE/ */
  /* CONTACTS */
  .contact {
    padding: 2rem;
    background-color: #2b2b2b;
    padding-top: 16rem;
  }
  .contact__container {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    max-width: 150rem;
    margin: 0 auto;
    padding: 0 2.5rem;
  }
  
  .contact__wrapper {
    flex: 1;
    margin-right: 6rem;
  }
  
  .contact__title h2 {
    color: #ff9900;
    font-size: 4.5rem;
    margin-bottom: 2.5rem;
    font-weight: 600;
  }
  
  .contact__title p {
    color: #ffffff;
    font-size: 2rem;
    margin-bottom: 4rem;
  }
  
  .contact__details td {
    color: white; 
  }
  
  .contact__details td i {
    color: #ffa700; 
  }
  
  .contact__details td {
    padding: 0 5px; 
    color: white;   
    padding-bottom: 3rem;
  }
  
  .contact__details td i {
    color: #ffa700 
  }
  
  
  .contact__line {
    border: 0;
    border-top: 2px solid #cccccc;
    margin-bottom: 4rem;
  }
  
  .contact__horizontal ul {
    list-style: none;
    padding: 0;
    display: flex;
    gap: 1.25rem;
  }
  
  .contact__horizontal ul li {
    display: inline-block;
  }
  
  .contact__horizontal ul li a {
    color: #ffffff;
    font-size: 3rem;
    text-decoration: none;
  }
  
  .contact__details ul li {
    gap: 3rem;
    display: flex;
    align-items: center;
    margin: 1.25rem 0;
    color: #ffa700;
  }
  
  .contact .contact__title table tr {
    padding-left: 10rem;
  }
  
  .contact .contact__title table {
    height: 10rem;
  }
  
  .contact .contact__horizontal {
    color: #ffffff;
  }
  
  .contact__details .icon {
    margin-right: 1.25rem;
  }
  
  .contact__form {
    flex: 1;
    display: flex;
    flex-direction: column;
  }
  
  .contact__form label {
    font-size: 1.75rem;
    margin-bottom: 0.625rem;
  }
  
  .contact__inputs {
    background-color: #f2f2f2;
    border: none;
    padding: 1.25rem;
    margin-bottom: 2.5rem;
    font-size: 2rem;
    width: 100%;
  }
  
  .contact__inputs {
    background-color: #f2f2f2;
    border: none;
    padding: 1.25rem;
    margin-bottom: 2.5rem;
    font-size: 2rem;
    width: 100%;
    border-radius: 10px; 
    resize: none;
  }
  
  
  
  .submit {
    background-color: #ff9900;
    color: #ffffff;
    border: none;
    padding: 1rem 3rem; 
    font-size: 2rem;
    cursor: pointer;
    transition: background-color 0.3s ease;
    margin-left: auto; 
    display: block;
    text-align: right;
    border-radius: 5rem;
  }
  
  .submit:hover {
    background-color: #ffffff;
    color: #000000;
  }
  
  #message {
    height: 200px; 
  }
  
  
  .popup.hidden {
    display: none;
  }
  
  
  .popup {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .popup-content {
    background: white;
    padding: 2rem;
    text-align: center;
    /* border-radius: 5px; */
  }
  
  .popup-close {
    background-color: #ff9900;
    border: none;
    padding: 1rem;
    color: white;
    font-size: 1.5rem;
    cursor: pointer;
    transition: background-color 0.3s;
  }
  
  .popup-close:hover {
    background-color: #e68a00;
  }
  
  .contact {
    border-bottom: 1px solid #ffffff;
    padding-top: 11.5rem;
    padding-bottom: 13.5rem;
  } 
  @media (max-width: 500px) {
    .contact__container{
      display: grid;
      grid-template-columns: 1fr;
      margin: 0 auto;
    }
    .contact__title h2 {
      text-align: center;
    }
    .contact__title {
      margin: 0 auto;
      justify-items: center;
    }
    .contact__title p{
      text-align: center;
    }
  
    .submit{
      margin: 0 auto
    }
    .contact {
      padding-top: 10rem ;
      padding-bottom: 5rem;
      
    }
    .contact__wrapper {
    margin-right: 0rem;
  }
  
  .contact__form{
    padding-top: 2rem;
  }
  }
  

  /* ######## MOBILE VIEW ######## */
  
  @media screen and (max-width: 500px) {

    .parabola {
      text-align: center;
      font-size: 2rem;
    }
    .update {
      padding-left: 2rem;
      padding-right: 2rem;
    }
    .update .container {
      display: grid;
      grid-template-columns: 1fr;
    }
  
    .update .trend__intro h2{
      text-align: center;
      font-size: 4rem;
    }
  
    .trend__post img{
      padding-top: 3rem;
      padding-bottom: 3rem;
    }
  
    .trend__post ul{
      font-size: 1.2rem;
      justify-content: center;
    }
  
    .trend__post p{
      padding-top: 0rem;
    }
    .update .sidepannel {
      padding-top: 0rem;
    }
  
  .update .update__item ul {
    font-size: 1rem;
  }
  .trend__post {
    margin-bottom: 0rem;
  }
  
    }
  





